# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data & Models
/data/
/models/
/reports/figures/
/reports/metrics/

# OS
.DS_Store
